<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="ConexionStringDesarrollo" value="data source=Firebird25Desa.dimad.com.ar;initial catalog=Employees;user id=sysdba;password=masterkey;returnrecordsaffected=True;Charset=NONE;Role=;Connection lifetime=60;Pooling=true; MinPoolSize=0;MaxPoolSize=20;Packet Size=8192;ServerType=0"/>
    <add key="ConexionStringProd" value="data source=srvFirebird2.dimad.com.ar;initial catalog=Employees;user id=sysdba;password=masterkey;returnrecordsaffected=True;Charset=NONE;Role=;Connection lifetime=60;Pooling=true; MinPoolSize=0;MaxPoolSize=20;Packet Size=8192;ServerType=0"/>
    <add key="EntornoDesarrollo" value="0"/>
    <add key="PathLog" value="C:\Test\"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
